
*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #000000;
    height: 180px;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header .container .top{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
header .container .top .search{
    height: 40px;
    border-radius: 40px;
    padding: 15px;
    justify-content: end;
}
header .container .top .search .search-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .middle .menu{
    padding: 1.5rem 0;
    display: inline-flex;
    list-style: none;
}
header .container .middle .menu li{
    text-align: center;
    margin-right: 1.7rem;
    transition: all .3s ease;
}
header .container .middle .menu li a{
    text-decoration: none;
    color: #ffffff;
}
header .container .middle .menu li a .fas{
    margin-left: 0.2rem;
}
header .container .middle .menu li a:hover{
    color: #7FFFD4;
}
header .container .middle .menu .menu-bar-1{
    display: none;
    color: #ffffff;
}
header .container .middle .menu .menu-bar-1 .fas{
    display: none;
    color: #ffffff;
}
header .container .middle .menu .menu-bar-1 ul{
    list-style: none;
}
header .container .middle .menu .menu-bar-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ffffff;
    border-radius: 0;
    text-align: left;
}
header .container .middle .menu .menu-bar-1 ul li:last-child{
    border-bottom: none;
}
header .container .middle .menu .menu-bar-1 ul li a:hover{
    color: #7FFFD4;
}
header .container .middle .menu li:hover .menu-bar-1{
    display: block;
    position: absolute;
    background: #000000;
    margin-top: 15px;
    margin-left: -15px;
}
header .container .bottom nav a{
    color: #ffffff;
    text-decoration: none;
    transition: all .3s ease;
}
header .container .bottom nav a:hover{
    color: #7FFFD4;
}
.homepage{
    display: flex;
    padding: 0 5rem;
    height: 1000px;
}
.homepage .about{
    padding: 3rem 3rem;
}
.homepage .about img{
    padding: 2rem;
    margin-left: 12%;
}
.homepage .about h3{
    margin-top: 1rem;
}
.homepage .about .vision{
    margin-top: 1rem;
}
.homepage .about ul{
    margin-top: 1rem;
}
.homepage .news{
    padding: 3rem 3rem;
    width: 150rem;
}
.homepage .news h3{
    margin-bottom: 2rem;
}
.progpage{
    padding: 2rem 10rem;
    height: 1258px;
}
.progpage h2{
    margin-top: 3rem;
} 
.progpage p{  
    margin-top: 1rem;
}
.progpage .links{
    list-style: none;
    margin-top: 1rem;
    margin-left: -3.5%;
} 
.progpage .links li{
    margin-bottom: 1rem;
}
.progpage .links li a{
    text-decoration: none;
    color: darkred;
}
.progpage .links li a:hover{
    color: darkblue;
}
.progpage .peo li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.progpage .po li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.postpage{
    padding: 2rem 10rem;
    height: 1800px;
}
.postpage h2{
    margin-top: 3rem;
} 
.postpage p{  
    margin-top: 1rem;
}
.postpage .links{
    list-style: none;
    margin-top: 1rem;
    margin-left: -3.5%;
} 
.postpage .links li{
    margin-bottom: 1rem;
}
.postpage .links li a{
    text-decoration: none;
    color: darkred;
}
.postpage .links li a:hover{
    color: darkblue;
}
.postpage .peo li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.postpage .po li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.docpage{
    padding: 2rem 10rem;
    height: 1000px;
}
.docpage .doc{
    margin-bottom: 2rem;
}
.docpage .doc h2{
    margin-top: 3rem;
}
.docpage .doc p{  
    margin-top: 1rem;
}
.docpage .doc a{
    text-decoration: none;
    color: darkred;
}
.docpage .doc a:hover{
    color: darkblue;
}
.docpage .data li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.docpage .data a{
    text-decoration: none;
    color: darkred;
}
.docpage .data a:hover{
    color: darkblue;
}
.facpage{
    padding: 2rem 10rem;
    height: 1000px;
}
.facpage p{
    margin-top: 1rem;
}
.facpage h2{
    margin-top: 3rem;
}
.labpage{
    padding: 2rem 10rem;
    height: 1100px;
}
.labpage h2{
    margin-top: 3rem;
}
.labpage ul li{
    margin-top: 2rem;
}
.facmanagepage{
    padding: 2rem 10rem;
    height: 400px;
}
.facmanagepage p{
    margin-top: 2rem;
}
.facmanagepage p a{
    text-decoration: none;
    color: darkred;
}
.facmanagepage p a:hover{
    color: darkblue;
}
.footer{
    background: #303036;
    color: #ffffff;
    height: 490px;
}
.footer .footer-top{
    display: flex;
    padding: 2rem 0;
    margin-left: 20%;
    margin-bottom: 3rem;
}
.footer .footer-top .contact{
    margin-right: 10rem;
    color: #ffffff;
}
.footer .footer-top h4{
    margin-bottom: 0.5rem;
}
.footer .footer-top .connect p{
    margin-bottom: 1rem;
}
.footer .footer-top .contact p span{
    color: #7FFFD4;
}
.footer .footer-top .connect .icon{
    font-size: 2rem;
    color: #ffffff;
    margin-left: 1rem;
}
.footer .footer-top .connect .icon:hover{
    color: #7FFFD4;
}
.footer .footer-top .contact p span a{
    color: #7FFFD4;
    text-decoration: none;
}
.footer .footer-bottom{
    display: flex;
    padding: 1rem 0;
    margin-left: 3.5%;
}
.footer .footer-bottom .footer-section{
    margin-right: 2rem;
}
.footer .footer-bottom ul{
    list-style: none;
}
.footer .footer-bottom h4{
    margin-bottom: 1rem;
    color: #7FFFD4;
}
.footer .footer-bottom .quick ul li{
    margin-left: -30%;
} 
.footer .footer-bottom .general ul li{
    margin-left: -23%;
} 
.footer .footer-bottom .doctoral ul li{
    margin-left: -35%;
}
.footer .footer-bottom .postgraduate ul li{
    margin-left: -35%;
}
.footer .footer-bottom .undergraduate ul li{
    margin-left: -33%;
}
.footer .footer-bottom .opening ul li{
    margin-left: -20%;
}
.footer .footer-bottom ul li{
    margin-bottom: 0.5rem;
}  
.footer .footer-bottom ul li a{
    color: #ffffff;
    text-decoration: none;
}
.footer .footer-bottom ul li a:hover{
    color: #7FFFD4;
}

