{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
<div class="achfacpage">
    <table border="1">
        <tr>
            <th>S No.</th>
            <th>Name of the Faculty Members</th>
            <th>Name of Award</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Dr. K. Chandrasekaran</td>
            <td>
                <ul>
                    <li><strong>Best Paper award</strong>for the paper “Load Balancing of virtual Machine Resources in Cloud 
                    Using Genetic Algorithm,” in 7th Int. Conf. on Communication Networks, August 9-11, 
                    2013, Bengaluru.</li>
                    <li><strong>Member of the Editorial board of IEEE Transactions on Cloud Computing.</strong></li>
                    <li><strong>Member of the “IEEE Cloud Computing STC’s Conference Executive TCS Committee”, USA.</strong></li>
                    <li><strong>Best Paper award </strong>for the paper “Identification of Parameters for Trust Management Wireless 
                    Sensor Networks,” in 8th Int. Conf. on Communication Networks, July 25-27, 2014, Bengaluru.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Dr. P. Santhi Thilagam</td>
            <td>
                <ul>
                    <li><strong>Technical commitee Member at International Conference on Technical Advancements </strong>in 
                        Computers and Communication on 10th & 11th April 2017, Tamil Nadu, India</li>
                    <li><strong>S Ramanujan Lecture Presenter Award</strong>, 30th National convention of Computer Engineers, 
                        The Institution of Engineers (India), 18-19 February   2015</li>
                    <li>A Team of <strong>B.Tech Students ( mlm_hack_you ) has won the 2nd place in SCTF 2012</strong>, a 
                        national level capture the  flag style hacking contest, International Conference on Security Internet 
                        Things, Aug 17-19, 2012, Amrita University - Faculty Mentor.</li>
                    <li><strong>BITES Best PhD Thesis Award </strong>for the year 2009 in the category of "Computer Science & 
                        Engineering", 2010.</li>
                    <li><strong>Best paper award</strong> for the paper “A Simplified Graph Approach for Mining Biological Network”, 
                        International Conference on Bioinformatics and Diabetes Mellitus, ICBDM'06, 25-27th March 2006.</li>
                    <li>“Communication between PC and Bluetooth Enabled Devices”(<strong>NATIONAL AWARD FOR BEST UG PROJECTS</strong>- 2005) 
                        [Raghuveer Y. Talekar & Siddu B. Yalawar, 2005, Guide Dr. P. Santhi Thilagam]</li>
                    <li><strong>Best paper award</strong> at National Conference on Advanced Computing -2003, PSG College of Technology, 
                        Coimbatore for the paper titled “A hybrid load balancing solution based on the concept of packet 
                        rewriting”.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Dr. Annappa</td>
            <td>
                <ul>
                    <li>Invited as a <strong>Visiting expert to Universite des Mascareignes Mauritius</strong> during 19th May to 18th June 2017.</li>
                    <li><strong>Best paper award</strong> for the paper “Enhancing response time for distributed computing applications by harnessing 
                        recommender systems and social networks”, ICC 2014. Elsevier.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Dr. Alwyn Roshan Pais</td>
            <td>
                <ul>
                    <li><strong>Best paper award </strong>for the paper “Detecting & Defeating Split Personality Malware", in an International Conference SECURWARE 2011, France.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mrs. Saumya Hegde</td>
            <td>
                <ul>
                    <li><strong>Best Paper award </strong>for the paper “Securing the Network Topology in a Source Routing Multi Domain SDN”, ICACEA 2014.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Dr. Shashidhar G. Koolagudi</td>
            <td>
                <ul>
                    <li><strong>Best Paper award </strong>for the paper “Age Approximation from Speech using Gaussian Mixture Models”, 
                    2nd International Conference ADCONS’13, December 15-17, 2013, NITK-Surathkal.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Dr. B.R.Chandavarkar</td>
            <td>
                <ul>
                    <li><strong>Best Paper Award </strong>at COMSNET 2020 <a href="">Award Certificate</a>. 02-Feb-2020 to Dr. B.R.Chandavarkar,  
                        Mr. Ajay Jangid & Mr. Priyansh Dubey. </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Dr. Jeny Rajan</td>
            <td>
                <ul>
                    <li><strong>Young system scientist award</strong>, 2016, ” from System Society of India on 4th November 2016. </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Dr. Mohit P. Tahiliani</td>
            <td>
                <ul>
                    <li><strong>Received consultancy project</strong> titled "Future Internet Architecture for OPC UA and TSN based Distributed Control Systems"
                    from ABB Global Industries and Services Pvt. Ltd., Bangalore. 01-Aug-2019. </li>
                    <li>Selected as a <strong>Mentor for Google Summer of Code (GSoC)</strong> from ns-3 organization (30th May 2017 to 21st Aug 2017)</li>
                    <li><strong>EMC Young Achiever Awards </strong>2015, from EMC Corporation. 12th February 2015 at Le-Meridian Chennai</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Dr. Manu Basavaraju</td>
            <td>
                <ul>
                    <li><strong>Received Research Grant for the Project </strong>titled  "Restricted Proper Edge Colorings Of Graphs"  
                    by Mathematical Research Impact Centric Support(MATRICS), SERB -  DST, Govt. of India.  29-Jan-2020 </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>Prof. Swapan Bhattacharya </td>
            <td>
                <ul>
                    <li><strong>ET NOW National Education Leadership Award</strong> </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
</div>
<br>
{% endblock content %}