{% extends "layout.html" %}
{% block content %}
<div class="achstupage">
    <ul>
        <li>Gaurav Verma (2012-16) won Gold Medal in Computer Science and Engineering in “All India 
            Design Competition for Engineering Students, 2015”organized by The Institute of Engineers 
            (India) held on 11 October, 2015.</li>
        <li>Shubham Badal: (2012-16) , Founder CybrHome: (in 2015) www. cybrhome. com Team "code_pheonix", 
            comprising of Ajinkya Parab, Prabhu Dayal Sahoo, Yogesh Gaturle, final year B.Tech, CSE students 
            have for the first time in the history of NITs reached the world finals of the ACM-ICPC 2017 to 
            be held at Rapid City, South Dakota, USA.</li>
        <li>Mr. Sreecharan Sankaranarayanan, 8th Sem B.Tech(CSE) has been accepted to the Ph.D.program of the Language 
            Technologies Institute in the School  of Computer Science at Carnegie Mellon University starting in the 
            Fall 2015 semester with Research Fellowship.</li>
        <li>Anirban Chakraborty and Arijit Mallik published An Windows 8 app for Microsoft NIT Surathkal Bootcamp: Appathon 
            which is rated as Silver by Windows8Pit Crew and is in Windows Store now.</li>
        <li>Anirban Chakraborty presented a Poster Paper at Security and Privacy Symposium 2014 held at IIT Kanpur</li>
        <li>Tarun Jain presented a research paper at IEEE International Conference "Advanced Computing & Communication 
            Technologies (ACCT-2014)" held at R.G. Society, Rohtak, Haryana.</li>
        <li>Jivak Dhadse presented a research paper at IEEE International Conference "Advanced Computing & Communication 
            Technologies (ACCT-2014)" held at R.G. Society, Rohtak, Haryana.</li>
        <li>Sarat Chandra Prasad G got best Paper Award for the paper “Securing the Network Topology in a Source Routing 
            Multi Domain SDN”, International Journal of Computer Applications (IJCA), ISSN: 0975-8887, Volume ICACEA - 
            No. 3, 2014.</li>
        <li>Arun V. Hegde Memorial Cash Prize for Karthik C (11CO47), VI semester B.Tech.(CSE) and Chetan Dugar (10CO106),
            VIII B.Tech.(CSE)  securing more than 7.5(S.G.P.A.).</li>
        <li>Mahila Samithi KIOCL “Kudremukh” scholarship to Abhishek Maheshwari (12CO108), IV semester B.Tech.(CSE).</li>
        <li>Prof. V. Rajaraman’s cash Award to Chetan Dugar (10CO106), VIII B.Tech.(CSE)  for highest CGPA from I to VII semester for the year 2013-14.</li>
        <li>IEEEXtreme Programming Contest 6.0: Team KodeKallas: Ananthatejas R (09CO12) VIII semester B.Tech. , Suhas G P, Shanshank S 
            is ranked I in India with global rank of 91.</li>
        <li>Ananthatejas Raghavan and Madhuri Shanbhogue received the Richard E Merwin scholarship from IEEE Computer Society.</li>
        <li>Team comprising of Chandramouli Sharma (10CO21) VI semester B.Tech., Vivek Yadav, and Madhuri Shanbhouge (09CO47) VIII semester B.Tech., 
            are among the top 10 for the idea of Interactive Environmental Science Platform which are already been taken up as a project in IEEE Computer 
            Society.</li>
        <li>Prof. V. Rajaraman's Cash award to Abhinit Modi (10CO26),VIII B.Tech (CSE) for highest CGPA from I to VII semester for the year 2012-13.</li>
        <li>Gopala Krishna Holla (08CO25), secured DAAD Scholarship at Fachhochschule Dortmund, University of Applied Sciences and Arts located in Dortmund, 
            Germany</li>
        <li>M.Tech. (2013-15) one student got internship in Amazon, five in Intel and two in Broadcom. </li>
        <li>Team "code_pheonix", comprising of Ajinkya Parab, Prabhu Dayal Sahoo, Yogesh Gaturle, final year B.Tech, CSE students have for the first time in 
            the history of NITs reached the world finals of the  ACM-ICPC 2017 to be held at Rapid City, South Dakota , USA.</li>
    </ul>
</div>
{% endblock content %}