{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
<div class="achpatpage">
    <h4> The department has placed a strong emphasis on research and has produced a number of patents over the years.</h4>
    <ul>
        <li>K. Chandrasekaran, Marimuthu C., “Method and tool for designing green and sustainable software using Unified 
            Modeling Language (UML)”, Indian Patent, Application Number: 201641022442, Filing date: 14-July-2016</li>
        <li>K. Chandrasekaran, Santhanam Raghavan, “A Dynamic System and a method for facilitating service selection in Cloud”, 
            Indian Patent, Application Number: 201641000437, Filing date: 22-Jan-16</li>
        <li>Shashidhar G Koolagudi, Mukund A, Rohit C and Pravin Ramteke “Method and Device for determining Turbidity Levels in Water”, 
            Application number: 201641025734, Filing date: 27-July-2016</li>
        <li>Shashidhar G Koolagudi, Prof. M B Saidutta (Dean, AAIR), “Degraded Speech Recognition using Signal” Envelope Invoice number: 
            201641007122, Filing date: 1-March-2016</li>
        <li>Shashidhar G Koolagudi, Pavan Kumar K Y, Naveen K S, “Use of Diacritical Marks for Speech Synthesis”, Application number: 201641005231, 
            Filing date: 15-Feb-2016</li>
        <li>P. Santhi Thilagam , Amit Praseed, “System and Method for Detecting Asymmetric Application Layer DDoS Attacks using User Access Pattern Model”  : 
            under process (2019)</li>
        <li>Dr. B.R.Chandavarkar, V Saicharan and Mohit Bansi, “Rhombus-based travellers’ optimum route recommendation system” - Filed (Oms Reference C.000762)</li>
    </ul>
</div>
</div>
<br>
{% endblock content %}