{% extends "layout.html" %}
{% block content %}
<div class="achdeppage">
    <p>The department has an outstanding track record of accomplishments. The department has consistently been 
        ranked at the top by various surveys. Apart from that, the faculty and students of the department also 
        receive accolades for research academic activities.</p>
    <ul>
        <li><h4>The department consistently remains at the top in the rankings due to its excellent track record and 
        facilities.</h4></li>
        <ol>
            <li>Ranked 8th All India and 1st among NITs in top government T-Schools of India by Dataquest.</li>
            <li>Ranked 12th All India and 1st among NITs in top Government Technical Universities by The WEEK</li>
            <li>Ranked 8th All India and 1st among NITs in Best Engineering College by IndiaToday.</li>
            <li>Ranked 2nd All India and 1st among NITs in Top Engineering Colleges by GHRDC</li>
            <li>Ranked 9th All India in Top Engineering Colleges by Outlook India</li>
            <li>Ranked 22nd All India in Top Engineering Colleges by NIRF, MHRD India</li>
            <li>Ranked 9th All India in Top Engineering Colleges by Silicon India</li>
            <li>Ranked 306th in World in Top Universities by UI Green Metric</li>
        </ol>
        <li><h4>B.Tech(CSE) was accredited by National Board of Accreditation (NBA) for <a href="https://cse.nitk.ac.in/sites/default/files/uploads/NBA-Accreditated-Programme_dec%202014.pdf">5 years from 1st July 2014</a> 
            and <a href="https://cse.nitk.ac.in/sites/default/files/uploads/NBA_jul19_min.pdf">Extended for 1 year upto 2020.</a></h4> </li>
        <li><h4>M.Tech in (CSE) was accredited by National Board of Accreditation (NBA) for <a href="https://cse.nitk.ac.in/sites/default/files/uploads/NBA%20PG%20Accreditation.pdf">5 Years from April 2017.</a></h4></li>
    </ul>
</div>
{% endblock content %}