{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add News</legend>
            {{ form.news.label(class="form-control-label")}}

            {% if form.news.errors %}
        
                        {{ form.news(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.news.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.news(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            <br>
            {{ form.link.label(class="form-control-label")}}
            {% if form.link.errors %}
        
                        {{ form.link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.link.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.link(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            <br>
            {{ form.link_text.label(class="form-control-label")}}
            {% if form.link_text.errors %}
        
                        {{ form.link_text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.link_text.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.link_text(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            <br>
            {{ form.submit(class="btn btn-outline-info")}}
        </fieldset>
    </form>
</div>

<div>
    News and Upcoming Events - <br>
    {% for new in news %}
        {{ new.news }}
        <a href="{{ new.link }}">{{ new.link_text }}</a><br>
    {% endfor %}
</div>
<br><br>
<button><a href="{{ url_for('admin') }}"><< Admin Dashboard</a> </button>