{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('add_news')}}">Add News and Upcoming Events</a><br>
<a href="{{ url_for('add_research_area')}}">Add Research Areas</a><br>
<a href="{{ url_for('add_professors')}}">Add Professors</a><br>
<a href="{{ url_for('add_students')}}">Add Students</a><br>
<a href="{{ url_for('add_rdproject')}}">Add Research and Development Project</a><br>
<a href="{{ url_for('add_consultancy')}}">Add Consultancy</a><br>

<br><br>
<button><a href="{{ url_for('home') }}">Back</a> </button>