{% extends "layout.html" %}
{% block content %}
<div style="padding: 5rem 20rem">
    <p>
        World Health Organization has declared the recent Novel Corona Virus, COVID-19 as Public Health Emergency of International Concern (PHEIC) which has affected 213 Countries / Territories including India till date. WHO has characterized COVID-19 as a Pandemic on 11th March 2020.
    </p>
    <br>
    <p>
        In this context, NITK Surathkal has started a research study to predict the growth of the cases in India using Machine Learning. We are using Recurrent
        Neural Networks to build a Deep Learning Model and answer many questions that can help the administration make important decisions that can save lives.
        A group of Volunteers consisting of Alumni, Faculty and students of NITK are working tirelessly on this project under the supervision of Dr. Alwyn Roshan Pais,
        HOD, CSE Department, NITK Surathkal. This <a href="https://seva.ml/?utm_source=NITK&utm_medium=Website&utm_campaign=CSE%20Department&utm_term=grant&utm_content=m1">interactive Tracker</a> helps visualize the results of our work.

    </p>
    <br>
    <p>
        Technical details of this open source project are available at <a href="https://indiacovid.seva.ml/">https://indiacovid.seva.ml/</a>
    </p>
    <br>
    <p>
        Please contact us for Grants and Collaboration.
    </p>
</div>


{% endblock content %}