{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
    <div class="facpage">
        <p>The department is equipped with state-of-the-art facilities to encourage research and to enable 
            students to learn, understand and apply concepts.</p>
        <h2>Meeting Room and Seminar Hall:</h2>
        <hr />
        <hr />
        <p>The department has a meeting room equipped with LCD Projector and teleconferencing facilities. 
            The department also has a Seminar Hall which has a seating capacity of 100. The seminar hall is 
            used for conducting classes, seminars and workshops etc.</p>
        <h2>Department Library: </h2>
        <hr />
        <hr />
        <p>Apart from the central library with e-library facility, the CSE dept library also has about 2500 books.</p>
        <h2>Computing Facility:</h2>
        <hr />
        <hr />
        <p>The department has a data centre equipped with high end server systems. A full list of the server 
            systems available can be found here.</p>
        <h2>Networking: </h2>
        <hr />
        <hr />
        <p>Backbone connectivity consisting of 24 Port Brocade  make L3 Manageable distribution switch with  SMF 
            modules,  besides more than 14 L3/L2 Network Switches, used for Network connectivity for the entire 
            building . The LAN which in turn connected to the campus wide internet connectivity through Central 
            Computer Centre of the Institute.</p>
        <h2>Printer/Other Perpherals: </h2>
        <hr />
        <hr />
        <p>There are more than 15 LaserJet Printers,  LCD Projector, 40” LCD TV, 65" LFD TV  etc for academic activities support.</p>
    </div>
</div>
<br>
{% endblock content %}