{% extends "layout.html" %}
{% block content %}
<div class="facmanagepage">
    <h2>Facilities Management - For internal use only</h2>
    <hr />
    <hr />
    <p>To register system related  issues: <a href="https://docs.google.com/forms/d/e/1FAIpQLSca5ZUdNqBRq8C7DeqeR8oMkLZitFnY2tcyg-g6ZX3EC2v5pQ/viewform#responses">Click Here</a></p>
    <p>To view the status: <a href="https://docs.google.com/spreadsheets/d/1b9p3Wb3x23FDRVxDDnvqeI_AtD7OlyXOk0DPxOVuvzo/edit?ts=5a14339d#gid=1543745910">Click here</a></p>
</div>
{% endblock content %}