
    <div class="main-content">
    </div>
    
    <div class="footer">
        <div class="footer-top">
            <div class="contact">
                <h4>CONTACT US</h4>
                <p><span> Alwyn Roshan Pais </span></p>
                <p>Head of the Department</p> 
                <p>Department of CSE, NITK, Surathkal</p>
                <p>P. O. Srinivasnagar, Mangalore - 575 025</p>
                <p>India.</p>
                    
                <p>Hot line: +91-0824-2474053</p>
                <p>Email: <span><a href="#">hodcse@nitk.ac.in</a></span> ,
                          <span><a href="#">hodcse@nitk.edu.in</a></span>
                </p>    
            </div>
            <div class="connect">
                <h4>CONNECT WITH US</h4>
                <P>We're on Social Networks. Follow us & get in touch.</P>
                <a href="#"><i class="icon fab fa-twitter-square"></i></a>
                <a href="#"><i class="icon fab fa-facebook-square"></i></a>
                <a href="#"><i class="icon fab fa-google-plus-square"></i></a>
                <a href="#"><i class="icon fas fa-rss-square"></i></a>
                <a href="#"><i class="icon fab fa-vimeo"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-section quick">
                <h4>QUICK LINKS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Programmes</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>People</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Research</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Facilities</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Telephone Directory</a></li>
                </ul>    
            </div>
            <div class="footer-section general">
                <h4>GENERAL LINKS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>CMU-NITK Winter School</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>IRIS Portal</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Intranet</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Library</a></li>
                </ul>
            </div>
            <div class="footer-section doctoral">
                <h4>PH.D STUDENTS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Scholarships</a></li>
                </ul>
            </div>
            <div class="footer-section postgraduate">
                <h4>POSTGRADUATES</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>PG Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Stipends</a></li>
                </ul>
            </div>
            <div class="footer-section undergraduate">
                <h4>UNDERGRADUATES</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>UG Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Opportunities</a></li>
                </ul>
            </div>
            <div class="footer-section opening">
                <h4>DEPARTMENT OPENINGS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Intel Reasearch Fellow</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>National Career Service Portal</a></li>
                </ul>
            </div>
        </div>
    </div>