<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b5e0cd93a.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"> 
    <title>Home|Computer Science and Engineering</title>   
</head>
<body >
    <header>
        <div class="container">
            <div class="top">
                <div class="logo">
                  <img src ="../static/logo.png" alt="">
                </div>
                <div class="search">
                  <input class="search-txt" type="text" placeholder="Type to search">
                  <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                  </a>
                </div>
            </div>
            <div class="middle">
              <nav>
                <a href="#">Home</a>
                <a href="#">Programmes</a>
                <a href="#">Courses</a>
                <a href="#">People</a>
                <a href="#">Faculties</a>
                <a href="#">Research/Consultancy</a>
                <a href="#">Achievements</a>
                <a href="#">Placements</a>
                <a href="#">Events</a>
                <a href="#">Contact</a>
              </nav>
            </div>
            <div class="bottom">
              <nav>
                <a href="#">COVID-19 Research</a>
              </nav>
            </div>
        </div>
    </header> 
</body>
</html>