{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
    <div class="labpage">
        <p>The department has 11 labs which cater to the needs of all UG/PG students and Research scholars. 
            The labs are accessible to the research scholars 24/7 and are equipped with the latest systems and 
            peripherals like printers and scanners. Every system operates on WIndows and Linux operating systems 
            and provide students access to a variety of softwares with internet(both wired and wireless) 
            connectivity. </p>
        <h2>DATA CENTRE (L.No. 001)</h2>
        <h2>UNDERGRADUATE LABORATORIES</h2>
        <hr />
        <hr />
        <ul>
            <li>Microprocessor Lab (L.No. 101)</li>
            <li>UG Lab-1(L.No. 401)</li>
            <li>UG Lab-2(L.No.407) </li>
            <li>UG Lab-3(L.No.501)</li>
            <li>UG Lab-4(L.No.506)</li>
        </ul>
        <h2>POST GRADUATE LABORATORIES</h2>
        <hr />
        <hr />
        <ul>
            <li>Ist M.Tech Lab (L.No.302) </li>
            <li>PG Project Lab.(L.No.311)</li>
        </ul>
        <h2>RESEARCH LABORATORIES</h2>
        <hr />
        <hr />
        <ul>
            <li>Research Lab -1 (L.No.201)</li>
            <li>Research Lab -2 (L.No.301)</li>
        </ul>
        <h2>COMMON LABORATORIES(FOR PG/PhD/Other Research Project Labs)</h2>
        <hr />
        <hr />
        <ul>
            <li>Information Security Lab(L.No.310)</li>
            <li>Image and Speech Processing Lab(L.No.210)</li>
        </ul>
    </div>
</div>
<br>
{% endblock content %}