<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b5e0cd93a.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"> 
    {% if title %}
        <title>{{ title }} | Computer Science and Engineering</title>
    {% else %}
        <title>Home | Computer Science and Engineering</title>
    {% endif %}    
</head>
<body >
    <header>
        <div class="container">
            <div class="top">
                <div class="logo">
                  <a href="#">
                    <img src ="../static/logo.png" alt="">
                  </a>
                </div>
                <div class="search">
                  <input class="search-txt" type="text" placeholder="Type to search">
                  <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                  </a>
                </div>
            </div>
            <div class="middle">
              <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('programmes') }}">Programmes<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="{{ url_for('programmes') }}">Undergraduate</a></li>
                            <li><a href="{{ url_for('postgrad') }}">Postgraduate</a></li>
                            <li><a href="{{ url_for('doctaral') }}">Doctoral</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Courses<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="#">Undergraduate</a></li>
                            <li><a href="#">Postgraduate</a></li>
                            <li><a href="#">Doctoral</a></li>
                        </ul>
                    </div>    
                </li>
                <li><a href="#">People<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="{{ url_for('faculty') }}">Faculty</a></li>
                            <!-- <li><a href="#">Adjunct Faculty</a></li>
                            <li><a href="#">Adhoc Faculty</a></li>
                            <li><a href="#">Staff</a></li>
                            <li><a href="#">Project Staff</a></li>
                            <li><a href="#">Research Scholars</a></li> -->
                            <li><a href="{{ url_for('student') }}">Students</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Faculties<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="#">General Facilities</a></li>
                            <li><a href="#">Lab Facilities</a></li>
                            <li><a href="#">Facilities Management</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Research/Consultancy<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="{{ url_for('rdproject')}}">R & D Projects</a></li>
                            <li><a href="{{ url_for('conf')}}">Consultancy</a></li>
                            <li><a href="#">MoU</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Achievements<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="#">Department</a></li>
                            <li><a href="#">Faculty</a></li>
                            <li><a href="#">Students</a></li>
                            <li><a href="#">Patents</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Placements</a></li>
                <li><a href="#">Events<i class="fas fa-angle-down"></i></a>
                    <div class="menu-bar-1">
                        <ul>
                            <li><a href="#">Workshops</a></li>
                            <li><a href="#">Conferences</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="bottom">
              <nav>
                <a href="#">COVID-19 Research</a>
              </nav>
            </div>
        </div>
    </header>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    
    <div class="footer">
        <div class="footer-top">
            <div class="contact">
                <h4>CONTACT US</h4>
                <p><span> Alwyn Roshan Pais </span></p>
                <p>Head of the Department</p> 
                <p>Department of CSE, NITK, Surathkal</p>
                <p>P. O. Srinivasnagar, Mangalore - 575 025</p>
                <p>India.</p>
                    
                <p>Hot line: +91-0824-2474053</p>
                <p>Email: <span><a href="#">hodcse@nitk.ac.in</a></span> ,
                          <span><a href="#">hodcse@nitk.edu.in</a></span>
                </p>    
            </div>
            <div class="connect">
                <h4>CONNECT WITH US</h4>
                <P>We're on Social Networks. Follow us & get in touch.</P>
                <a href="#"><i class="icon fab fa-twitter-square"></i></a>
                <a href="#"><i class="icon fab fa-facebook-square"></i></a>
                <a href="#"><i class="icon fab fa-google-plus-square"></i></a>
                <a href="#"><i class="icon fas fa-rss-square"></i></a>
                <a href="#"><i class="icon fab fa-vimeo"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-section quick">
                <h4>QUICK LINKS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Programmes</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>People</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Research</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Facilities</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Telephone Directory</a></li>
                </ul>    
            </div>
            <div class="footer-section general">
                <h4>GENERAL LINKS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>CMU-NITK Winter School</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>IRIS Portal</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Intranet</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Library</a></li>
                </ul>
            </div>
            <div class="footer-section doctoral">
                <h4>PH.D STUDENTS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Scholarships</a></li>
                </ul>
            </div>
            <div class="footer-section postgraduate">
                <h4>POSTGRADUATES</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>PG Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Stipends</a></li>
                </ul>
            </div>
            <div class="footer-section undergraduate">
                <h4>UNDERGRADUATES</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Announcements</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>UG Courses</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Labs</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Opportunities</a></li>
                </ul>
            </div>
            <div class="footer-section opening">
                <h4>DEPARTMENT OPENINGS</h4>
                <ul>
                    <li><a href="#"><i class="fas fa-angle-right"></i>Intel Reasearch Fellow</a></li>
                    <li><a href="#"><i class="fas fa-angle-right"></i>National Career Service Portal</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
