{% extends "layout.html" %}
{% block content %}
<div style="padding: 5rem 20rem">
    <p>Students of the department are sought after by the top companies in the world owing to their academic standing. The department consistently performs exceptionally in terms of placement statistics. Every year top companies like Microsoft, Adobe and Oracle come for placement and recruit students from the department. The placement percentage for the B.Tech courses is consistenly above 90%. The M.Tech courses are sought after by IT companies and educational insitutions. IT companies also recruit M.Tech graduates from our department for a research profile in their companies. </p>

<img style="margin-bottom: 2rem; margin-left: 8rem;" src="../static/placement1.png" width="80%" height ="40%" alt="">
<img style="margin-bottom: 2rem; margin-left: 8rem;" src="../static/placement2.png" width="80%" height ="40%" alt="">
<img style="margin-bottom: 2rem; margin-left: 8rem;" src="../static/placement3.png" width="80%" height ="40%" alt="">
<img style="margin-bottom: 2rem; margin-left: 8rem;" src="../static/placement4.png" width="80%" height ="40%" alt="">
</div>
{% endblock content %}