{% extends "layout.html" %}
{% block content %}
<div class="postpage">
    <h2>M.Tech(CSE) and M.Tech(CSE-IS)</h2>
    <hr />
    <hr />
    <p>The department offers two post-graduate courses - M.Tech. in Computer Science and Engineering (CSE) and
        M.Tech in Computer Science and Engineering - Information Security (CSE-IS).</p>

    <p>Admission through GATE -  as per guidelines of MHRD</p>

    <ul class="links">
        <li><a href="https://www.nitk.ac.in/Curriculum">M.Tech Curriculum [2019] </a></li>
        <li><a href="https://old.nitk.ac.in/academics/curriculum">Curriculum Archive</a></li>
        <li><a href="https://www.nitk.ac.in/Academic_Calendars">Academic Calender: M.Tech. [2020]</a></li>
    </ul>

    <h2>M.Tech. (Computer Science and Engineering)</h2>
    <hr />
    <hr />
    <p>The M.Tech.(CSE) is a four semester course and was started in 1996. The course is aimed at providing a 
        comprehensive overview of the recent developments in various frontier areas of Computer Science and 
        Engineering including Computer Architecture, Software Systems, Parallel and Distributed Computing and 
        Networking with Web Technologies. To provide a sound basis, sufficient amount of theoretical input is also 
        given to the students. Another feature of the programme is that the students will have ample opportunity 
        to carry out research & software development in the labs.</p>

    <p>Average Intake (per year) : 27</p>

    <h2>M.Tech. (Computer Science and Engineering - Information Security)</h2>
    <hr />
    <hr />
    <p>M.Tech(CSE-IS) is a four semester course aimed to focus on the recent developments in the areas of Information 
        Security. The course was offered for the first time in 2007. The curriculum for these P.G programmes has 
        been carefully crafted to cater the need of those students who are admitted with their basic degree in 
        computing. In other words, care is taken, not to repeat the same, good old courses of U.G in the P.G level.</p>
    <p>Average Intake (per year) : 27</p>

    <h2>M.Tech (By Research)</h2>
    <hr />
    <hr />
    <p>M.Tech (By Research) programme was started in 2011 and is aimed at students interested more in exposure to research 
        in various fields of Computer Science & Engineering. It emphasizes research work, providing students a distinctive 
        opportunity to undertake research work and innovation.</p>
    <p>Average Intake (per year) : 2 - 4</p>

    <h2>Programme Educational Objectives (PEOs)</h2>
    <hr />
    <hr />
    <hr />
    <ol class="peo">
        <li>Analyze, design and create computing solutions for scientific and multidisciplinary engineering challenges.</li>
        <li>Pursue a successful career in industry/academia/research/government driven by strong foundations and in-depth 
            domain knowledge and  contribute to the engineering sphere as a competent professional.</li>
        <li> Demonstrate an exceptional involvement and active participation in Research and Development leading to new 
            innovations and optimized solutions.</li>
        <li>Engage in lifelong learning with persistent scientific temper for professional advancement and effective 
            communication of the technical information.</li>
        <li>Work effectively in multi-disciplinary and multi-cultural environments by respecting professionalism and 
            ethical practices within organization and society at national and international level.</li>
    </ol>

    <h2>Programme Outcomes (POs)</h2>
    <hr />
    <hr />
    <ol class="po">
        <p>After the completion of the M.Tech. programme, the post graduates of the Computer Science and Engineering 
            department will</p>
        <li>Apply knowledge of mathematics and principles of computing in the design and development of software and 
            hardware systems of varying complexity.</li>
        <li>Enhance skills and continuously acquire advanced knowledge in Computer Science, multidisciplinary and 
            interdisciplinary domains for professional excellence.</li>
        <li>Identify, formulate and critically study the problem, design and develop efficient algorithms, conduct experiments, 
            analysing the results and  applying the knowledge to different domains.</li>
        <li>Apply current techniques, skills and modern engineering tools to build robust, reliable, maintainable, scalable and 
            efficient computing systems  by considering social, environmental, economic, and security constraints.</li>
        <li>Critically analyze existing literature in an area of specialization, conduct investigative research to develop 
            innovative methodologies to tackle  issues identified and contribute to the development of technological knowledge 
            and intellectual property.</li>
        <li>Manage and execute complex engineering projects under economic, time and performance constraints.</li>
        <li>Contribute and communicate effectively in multidisciplinary and multicultural scenarios.</li>
        <li>Become a complete professional with high integrity and ethics, with excellent professional conduct and with empathy 
            towards the environmental and social needs.</li>
        <li>Critically evaluate the outcomes of one's actions and apply self corrective measures to improve the performance.</li>
    </ol>
</div>
{% endblock content %}