{% extends "layout.html" %}
{% block content %}
<div class="progpage">
    <h2>B.Tech (Computer Science and Engineering)</h2>
    <hr />
    <hr />
    <p>The B.Tech in Computer Science and Engineering is one of the most popular programmes at N.I.T.K
    Surathkal. The programme was stated in 1986 and has been designed to cater to global demands and offers
    a balanced coverage of hardware and software systems. The programme includes elective courses covering 
    thrust areas such as Distributed Systems & Computing, Parallel Architectures & High performance computing,
    High-Speed Networks, Designing with Network Processors, Security and Embedded Systems Cloud Computing etc. 
    The B.Tech. programme enjoys an enviable placement of almost 100% year after year. About 25 to 35% of the 
    students pursue higher studies after their graduation, mostly in U.S with scholarship and even without 
    fellowship.</p>

    <p>Average Intake (per year) :110</p>
        
    <p>Admission : Through JEE(Main) as per guidelines of MHRD</p>
    <ul class="links">
    <li><a href="https://www.nitk.ac.in/document/attachments/1532/UG-Curriculum-2019.pdf">B.Tech Curriculum [2019]</a></li>
    <li><a href="https://www.nitk.ac.in/Curriculum">Curriculum Archive</a></li>
    <li><a href="https://www.nitk.ac.in/Academic_Calendars">Academic Calender: B.Tech.[2020]</a></li>
    </ul>

    <h2>Programme Educational Objectives (PEOs)</h2>
    <hr />
    <hr />
    <ol class="peo">
        <li>To provide students with sound foundations in Basic Sciences and fundamentals in Engineering Sciences.</li>
        <li>To inculcate strong problem solving skills through the courses of CSE.</li>
        <li>To provide students with hands on experience in implementing various software development concepts.</li>
        <li>Train the students in project based assignments.</li>
        <li>To impress upon students the importance of good ethical practices, right professional conduct and 
            responsible team leadership.</li> 
    </ol>

    <h2>Programme Outcomes(POs)</h2>
    <hr />
    <hr />
    <ol class="po">
        <li> Ability to apply knowledge of computing, mathematics, science and engineering fundamentals to the solution 
            of complex engineering problems.</li>
        <li> Ability to formulate and analyze a problem, and define the computing requirements appropriate to its 
            solution using basic principles of mathematics, science and computer engineering.</li>
        <li> Ability to design, implement, and evaluate a computer based system, process, component, or software to 
            meet the desired needs.</li>
        <li> Ability to design and conduct research based experiments, perform analysis and interpretation of data and 
            provide valid conclusions.</li>
        <li> Ability to use current techniques, skills, and tools necessary for computing practice.</li>
        <li> Understanding of legal, health, security, cultural and social issues, and the consequent responsibilities 
            relevant to the professional engineering practice.</li>
        <li>Understanding of the impact of professional engineering solutions on environmental context and the need for 
            sustainable development.</li>
        <li> Understanding and commitment towards the professional and ethical responsibilities of an engineer.</li>
        <li>Ability to function effectively as an individual, and as a team member / leader in accomplishing a common 
            goal.</li>
        <li>Ability to communicate effectively, make effective presentations and write and comprehend technical reports 
            and publications.</li>
        <li> Ability to learn and adopt new technologies, and use them effectively towards continued professional 
            development throughout the life.</li>
        <li>Understanding of engineering and management principles and their application to manage projects in the 
            software industry.</li>
    </ol>
</div>
{% endblock content %}